footer{
    background: #0F607E;
    color: #fff;
    .contacto-tel{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .derechos{
        text-align: center;
    }
}